<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TMI HOTEL</title>
    <link href="/static/img/favicon.png" rel="icon" type="image/png>">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap" rel="stylesheet">
    <link href="/static/css/book.css" rel="stylesheet">
</head>

<body>
<main>
    <!-- Intro -->
    <header class="intro ">
        <div class="container">
            <div class="intro_inner">
                <a class="intro_link" href="/main">Hotel TMI</a>
            </div>
        </div>
    </header>

    <!-- Features -->

    <div class="container">
        <div class="booking">
            <div class="book_title">Бронирование</div>
            <div class="book_title" style="color: crimson" th:if="${param.smth_wrong}">Что-то полшло не так, попробуйте
                еще раз
            </div>
            <form action="/book" method="post">
                <select class="input_book" name="rooms" required>
                    <option value="">Выбор комнаты</option>
                    <option name="1" value="Люкс с одноместным размещением">Люкс с одноместным размещением</option>
                    <option name="2" value="Люкс с двуместным размещением">Люкс с двуместным размещением</option>
                    <option name="3" value="Апартаменты ДеЛюкс">Апартаменты ДеЛюкс</option>
                </select>
                <select class="input_book" name="guests" required>
                    <option value="">Выбор количества гостей</option>
                    <option value="1 взрослый">1 взрослый</option>
                    <option value="1 взрослый 1 ребенок">1 взрослый 1 ребенок</option>
                    <option value="1 взрослый 2 ребенка">1 взрослый 2 ребенка</option>
                    <option value="2 взрослых">2 взрослых</option>
                    <option value="2 взрослых 1 ребенок">2 взрослых 1 ребенок</option>
                    <option value="2 взрослых 2 ребенка">2 взрослых 2 ребенка</option>
                </select>
                <div class="footer_title" style="color: crimson" th:if="${param.FIO_err}">Введите полное имя через
                    пробел
                </div>
                <input class="input_book" name="fio" placeholder="ФИО" required type="text">
                <input class="input_book" name="phone_number" placeholder="Номер телефона" required type="tel">
                <input class="input_book" name="email" placeholder="Email" required type="email">
                <input class="input_book" name="date_in" placeholder="Дата въезда" required
                       th:min="${#temporals.format(currentDate, 'yyyy-MM-dd')}"
                       th:value="${#temporals.format(currentDate, 'yyyy-MM-dd')}"
                       type="date">
                <input class="input_book" name="date_out" placeholder="Дата выезда"
                       required
                       th:min="${#temporals.format(currentDate.plusDays(1), 'yyyy-MM-dd')}" th:value="${#temporals.format(currentDate.plusDays(1), 'yyyy-MM-dd')}" type="date">
                <button class="input_button" type="submit">Забронировать</button>
                <div class="book_title" style="color: green" th:if="${param.success}">Успешно забронировано!</div>
            </form>
        </div>
    </div>
</main>


<!-- Rooms -->


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a class="footer_link" href="/apartment/onep_luxury">Люкс с одноместным размещением </a>
                <a class="footer_link" href="/apartment/luxury">Люкс с двуместным размещением </a>
                <a class="footer_link" href="/apartment/deluxe">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a class="footer_link" href="/entertainments/pool">Бассейн </a>
                <a class="footer_link" href="/entertainments/banquet_hall">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a class="footer_link" href="/entertainments/veranda">Веранда</a>
                <a class="footer_link" href="/entertainments/bar">Клубный бар</a>
                <a class="footer_link" href="/entertainments/restaurant">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->

</body>
</html>