<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TMI HOTEL</title>
    <link href="/static/img/favicon.png" rel="icon" type="image/png>">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap"
          rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>

<!-- Intro -->
<header class="intro intro--back">
    <div class="header">
        <div class="container">
            <div class="header_inner">
                <nav class="nav">
                    <a class="nav_link" href="/sign_in">Войти</a>
                    <a class="nav_link" href="/sign_up">Регистрация</a>
                    <a class="nav_link" href="/admin/all_lists" th:if="authenticated">Админ</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="intro_inner">
            <a class="intro_link" href="/main">Hotel TMI</a>
        </div>
    </div>
</header>

<!-- Features -->
<div class="features">
    <div class="container">
        <div class="features_title">Преимущества проживания</div>
        <div class="features_inner">
            <p class="features_par">
                В комплексе находятся модные московские рестораны и бары: от must visit панорамных заведений под шпилем,
                до знаменитого русского ресторана «Матрешка» и популярной концепции бельгийского пивного ресторана.
            </p>
            <p class="features_par">
                В отеле представлены: уникальная анимированная диорама Москвы 1977 года, свыше 1200 картин-подлинников
                русских художников начала XX века, собрание скульптуры и знаменитый живописный плафон.
            </p>
        </div>
    </div>
</div><!-- /features -->

<!-- Rooms -->
<div class="rooms">
    <div class="container">
        <div class="rooms_inner">

            <div class="room">
                <img alt="" class="room_photo" src="/static/img/deluxe_appartament.jpg">
                <div class="room_content">
                    <div class="room_title">Апартаменты делюкс</div>
                    <a class="btn btn--white" href="/apartment/deluxe">Подробнее</a>
                </div>
            </div>

            <div class="room">
                <img alt="" class="room_photo" src="/static/img/luxury_appartment_1.jpg">
                <div class="room_content">
                    <div class="room_title">Люкс</div>
                    <a class="btn btn--white" href="/apartment/luxury">Подробнее</a>
                </div>
            </div>

            <div class="room">
                <img alt="" class="room_photo" src="/static/img/onep_luxury_appartment_1.jpg">
                <div class="room_content">
                    <div class="room_title">Люкс с одноместным размещением</div>
                    <a class="btn btn--white" href="/apartment/onep_luxury">Подробнее</a>
                </div>
            </div>

            <a class="btn btn--grey" href="/book">Бронрование номера</a>

        </div>
    </div>
</div><!-- /rooms-->

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a class="footer_link" href="/apartment/onep_luxury">Люкс с одноместным размещением </a>
                <a class="footer_link" href="/apartment/luxury">Люкс с двуместным размещением </a>
                <a class="footer_link" href="/apartment/deluxe">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a class="footer_link" href="/entertainments/pool">Бассейн </a>
                <a class="footer_link" href="/entertainments/banquet_hall">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a class="footer_link" href="/entertainments/veranda">Веранда</a>
                <a class="footer_link" href="/entertainments/bar">Клубный бар</a>
                <a class="footer_link" href="/entertainments/restaurant">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->

</body>
</html>