<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TMI HOTEL</title>
    <link rel="icon" type="image/png>" href="/static/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/premise.css">
</head>
<body>

<!-- Intro -->
<header class="intro intro--veranda">
    <div class="header">
        <div class="container">
            <div class="header_inner">
                <nav class="nav">
                    <a href="/sign_in" class="nav_link">Войти</a>
                    <a href="/sign_up" class="nav_link">Регистрация</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="intro_inner">
            <a href="/main" class="intro_link">Hotel TMI</a>
        </div>
    </div>
</header>

<!-- Photos -->
<div class="photos">
    <div class="photo_item">
        <img class="room_photo" src="/static/img/veranda_1.jpg" alt="">
    </div>

    <div class="photo_item">
        <img class="room_photo" src="/static/img/veranda_2.jpg" alt="">
    </div>

    <div class="photo_item">
        <img class="room_photo" src="/static/img/veranda_3.jpg" alt="">
    </div>

</div><!-- /photos -->

<!-- Room Description -->
<div class="room_description">
    <div class="container">

        <div class="room_description_inner">
            <h1 class="room_title">Веранда</h1>
            <p class="room_text">
                Основной ресторан гостиницы на всю Москву славится изобильными завтраками. Можно расположиться в уютной
                глубине светлого зала или выбрать столик на открытой галерее с видом на центральный холл с огромными
                окнами.
                Кухня: русская, международная
                Завтрак для гостей подаётся: с 6-30 до 11-00
            </p>
        </div>

    </div>
</div><!-- /room description -->

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a href="/apartment/onep_luxury" class="footer_link">Люкс с одноместным размещением </a>
                <a href="/apartment/luxury" class="footer_link">Люкс с двуместным размещением </a>
                <a href="/apartment/deluxe" class="footer_link">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a href="/entertainments/pool" class="footer_link">Бассейн </a>
                <a href="/entertainments/banquet_hall" class="footer_link">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a href="/entertainments/veranda" class="footer_link">Веранда</a>
                <a href="/entertainments/bar" class="footer_link">Клубный бар</a>
                <a href="/entertainments/restaurant" class="footer_link">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->


</body>
</html>