*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #232528;
    -webkit-font-smoothing: antialiased;
   
    background-color: #D0D0D0;
}


/* Header
===================*/

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 35px 0;

    text-align: center;
}


/* Nav
===================*/

.nav {
    display: flex;

    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;

    transition: all .3s linear;
}

.nav_link:first-child {
    margin-left: 0px;
}

.nav_link:hover {
    color: #ede356;

    text-decoration: underline 2px;
}


/* Intro
===================*/

.intro {
    padding: 100px 0 50px;
    background: url('../img/hotel_view.jpg') center no-repeat;
    background-size: cover;
}

.intro_inner {
    width:100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro_link {
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
    font-size: 50px;
    font-weight: 600;

    transition: all .3s linear;
}

.intro_link:hover {
    color: #ede356;
}


/* Container
===================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* MAIN
===================*/

main{
    min-height: calc(100vh - 122px);
}

.input_lists{
    padding: 5px 40px;
    font-size: 25px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.input_lists:focus{
    outline: none;
    font-size: 25px;
}

.input_search{
    display: flex;
    margin: 15px 0;
    padding: 5px;

}

.search{
    margin: 10px auto;
    padding: 5px;
    font-size: 25px;
    width: 170px;
}
.data_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lists{
    margin: 0 25px 15px;
    padding: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;

}

.sub_lists{
    margin: 5px;
    padding: 5px;
    color: #000;
    text-decoration: none;
    width: 350px;
}
.sub_lists:hover{
    margin: 5px;
    padding: 5px;
    color: #232528;
    text-decoration: underline;
}

.data{
    font-size: 25px;
    padding: 5px;
}
.guests{
    padding: 10px;
    margin:10px ;
}

.hoverable {
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.hoverable .tooltip {


    display: none;
    width: 200px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.hoverable:hover .tooltip {
    word-break: break-all;
    display: block;
    opacity: 1;
}

/* Add, Edit,Delete Input
===================*/

.add_btn {
    text-align: center;
    margin: 50px 0 20px;

    width: 100%;
    height: 40px;

    border-radius: 10px;
    border: 1px solid black;

    transition: all .3s linear;
}

.add_btn:hover {
    background-color: #92d292;
}

.delete_btn{
    text-align: center;
    margin: 0px 0 50px;

    width: 100%;
    height: 40px;

    border-radius: 10px;
    border: 1px solid black;

    transition: all .3s linear;
}

.delete_btn:hover {
    background-color: #ef2b2b;
}

.add_href {
    color: black;
    text-decoration: none;
}

.edit_btn {
    text-align: center;


    border-radius: 10px;
    border: 1px solid black;

    transition: all .3s linear;
}

.edit_btn:hover {
    background-color: #f1e884;
}

.edit_href {
    color: black;
    text-decoration: none;
}

.entity_input {
    width: 100%;

    border-radius: 5px;
    border: 1px solid black;

    padding: 10px 0;

    text-align: center;
    justify-content: center;
}




/* Footer
===================*/

.footer {
    background-color: #3e3e3e;


}

.footer_inner {
    display: flex;
    justify-content: space-between;
}

.footer_block {
    width: 25%;
}

.footer_title{
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;
    color: #fff;
}

.footer_link {
    text-decoration: none;
    color: #fff;
    opacity: .75;
    padding: 5px 0 5px;

    display: flex;
    flex-direction: column;

    transition: opacity .3s linear;
}

.footer_link:hover {
    opacity: 1;
}

address {
    color: #fff;
}

/* FORM
===================*/

.modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-window
{
    border: 1px solid white;
    padding: 15px 85px;
    background-color: gray;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0,0,0, .7);
}

.form_input
{
    width: 100%;
    min-height: 60px;
    max-height: 370px;
    border-radius: 5px;
    outline: 1px white;
    padding: 10px 0;
    font-size: 10px;
    margin: 10px 0 10px;
}

.form_input:hover{
    outline: none;
}

.close
{
    color: black;
    border: none;
    opacity: 0.7;
    cursor:pointer;
    position: absolute;
    right: 15px;
    top: 7px;
    font-family: cursive;

}

.btn-close:hover
{
    opacity: 1;
}

.modal.over
{
    background-color: #000;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;
}

.form_title{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
