<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hotel TMI</title>
    <link rel="icon" type="image/png>" href="/static/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/premise.css">
</head>
<body>

<!-- Intro -->
<div class="intro intro--bar">
    <div class="header">
        <div class="container">
            <div class="header_inner">
                <nav class="nav">
                    <a href="sign_in.html" class="nav_link">Войти</a>
                    <a href="sign_up.html" class="nav_link">Регистрация</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="intro_inner">
            <a href="index.html" class="intro_link">Hotel TMI</a>
        </div>
    </div>
</div>

<!-- Photos -->
<div class="photos">
    <div class="photo_item">
        <img class="room_photo" src="/static/img/bar_1.jpg" alt="">
    </div>

    <div class="photo_item">
        <img class="room_photo" src="/static/img/bar_2.jpg" alt="">
    </div>

    <div class="photo_item">
        <img class="room_photo" src="/static/img/bar_3.jpg" alt="">
    </div>

</div><!-- /photos -->

<!-- Room Description -->
<div class="room_description">
    <div class="container">

        <div class="room_description_inner">
            <h1 class="room_title">Клубный бар</h1>
            <p class="room_text">
                В приватной атмосфере бара  Клубного этажа приятно расслабляться после рабочего дня, или «пройтись» с друзьями по барной или винной карте.
                *Только для гостей Клубных 10-11 этажей
             </p>
        </div>

    </div>
</div><!-- /room description -->

 <!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a href="onep_luxury_appartment.html" class="footer_link">Люкс с одноместным размещением </a>
                <a href="luxury_appartment.html" class="footer_link">Люкс с двуместным размещением </a>
                <a href="deluxe_appartment.html" class="footer_link">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a href="pool.html" class="footer_link">Бассейн </a>
                <a href="banquet_hall.html" class="footer_link">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a href="veranda.html" class="footer_link">Веранда</a>
                <a href="bar.html" class="footer_link">Клубный бар</a>
                <a href="restaurant.html" class="footer_link">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->

</body>
</html>