<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hotel TMI</title>
    <link rel="icon" type="image/png>" href="/static/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/premise.css">
</head>
<body>

<!-- Intro -->
<header class="intro intro--luxury">
    <div class="header">
        <div class="container">
            <div class="header_inner">
                <nav class="nav">
                    <a href="sign_in.html" class="nav_link">Войти</a>
                    <a href="sign_up.html" class="nav_link">Регистрация</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="intro_inner">
            <a href="index.html" class="intro_link">Hotel TMI</a>
        </div>
    </div>
</header>

<!-- Photos -->
<div class="photos">
    <div class="photo_item">
        <img class="room_photo" src="/static/img/luxury_appartment_1.jpg" alt="">
    </div>

    <div class="photo_item">
        <img class="room_photo" src="/static/img/luxury_appartment_2.jpg" alt="">
    </div>

    <div class="photo_item">
        <img class="room_photo" src="/static/img/luxury_appartment_3.jpg" alt="">
    </div>

</div><!-- /photos -->

<!-- Room Description -->
<div class="room_description">
    <div class="container">

        <div class="room_description_inner">
            <h1 class="room_title">Люкс</h1>
            <p class="room_text">
                Сдержанный классический стиль, высокие потолки, итальянская мебель, премиальный текстиль, английская
                косметика для ванн и современная техника – вы найдете здесь комфорт, полноценный отдых и место для
                плодотворной работы.
            </p>
            <p class="room_text">
                Стоимость завтрака "шведский стол" составляет 3 800 рублей на одного человека в день, включая НДС, на
                ребенка с 6 до 12 лет стоимость 1 900 рублей в день, включая НДС. Бесплатно для детей до 5 лет. </p>
        </div>
        <div class="room_button"><a href="book.html" class="btn btn--grey">Бронрование номера</a></div>

    </div>
</div><!-- /room description -->

<!-- Room Included -->
<div class="room_included">
    <div class="container">
        <div class="room_included_inner">

            <div class="room_included_block">
                <p class="room_text">В номере:</p>
                Бесплатный высокоскоростной Интернет<br>
                Станция для приготовления чая и кофе<br>
                Кофе-машина Nespresso<br>
                Паровой утюг и гладильная доска по запросу<br>
                Сейф, вмещающий ноутбук, со встроенным источником питания<br>
                Профессиональный фен<br>
                Косметическое зеркало<br>
                Халат и тапочки<br>
                Меню подушек<br>
                Бесплатная вода<br>
                Свободный вход в TMI Club с бассейном<br>
            </div>

            <div class="room_included_block">
                <p class="room_text">В ванной:
                <p>
                    Сантехника Villeroy&Boch<br>
                    Ванна с душем<br>
                    Фен<br>
                    Халаты и полотенца FRETTE<br>
                    Тапочки<br>
                    Парфюмерия для ванн PENHALIGON’S<br>
                    Гигиенические принадлежности<br>
                    Шнур вызова помощи<br>
                    Подогреваемые полы<br>
                    Косметическое зеркало<br>
                    Весы<br>
            </div>

        </div>
    </div>
</div><!-- room included -->

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a href="onep_luxury_appartment.html" class="footer_link">Люкс с одноместным размещением </a>
                <a href="luxury_appartment.html" class="footer_link">Люкс с двуместным размещением </a>
                <a href="deluxe_appartment.html" class="footer_link">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a href="pool.html" class="footer_link">Бассейн </a>
                <a href="banquet_hall.html" class="footer_link">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a href="veranda.html" class="footer_link">Веранда</a>
                <a href="bar.html" class="footer_link">Клубный бар</a>
                <a href="restaurant.html" class="footer_link">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->

</body>
</html>