<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TMI HOTEL</title>
    <link href="/static/img/favicon.png" rel="icon" type="image/png>">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap"
          rel="stylesheet">
    <link href="/static/css/guest_list.css" rel="stylesheet">
</head>

<body>
<main>
    <!-- Intro -->
    <header class="intro ">
        <div class="header">
            <div class="container">
                <div class="header_inner">
                    <nav class="nav">
                        <a class="nav_link" href="/sign_in">Войти</a>
                        <a class="nav_link" href="/sign_up">Регистрация</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="intro_inner">
                <a class="intro_link" href="/main">Hotel TMI</a>
            </div>
        </div>
    </header>

    <!-- Features -->

    <div class="container">

        <div class="guests">

            <form action="/admin/guest_edit" method="post">
                <div th:each="guest:${guest}">
                    <div class="data" hidden="hidden"><input hidden="hidden" name="idGuest"
                                                             th:value="${guest.getIdGuest()}"></div>
                    <div class="data"><input class="entity_input" name="lastName" th:value="${guest.getLastName()}"
                                             type="text"></div>
                    <div class="data"><input class="entity_input" name="firstName" th:value="${guest.getFirstName()}"
                                             type="text"></div>
                    <div class="data"><input class="entity_input" name="middleName" th:value="${guest.getMiddleName()}"
                                             type="text"></div>
                    <div class="data"><input class="entity_input" name="phoneNumber"
                                             th:value="${guest.getPhoneNumber()}" type="text"></div>
                    <div class="data"><input class="entity_input" name="email" th:value="${guest.getEmail()}"
                                             type="text"></div>
                    <div class="modal-window">
                        <div class="form_title">Комментарий</div>
                        <textarea class="form_input" name="aboutComment"
                                  th:text="${guest.getAboutComment()}"></textarea>
                    </div>
                    <div class="data">
                        <button class="add_btn" type="submit">Подтвердить редактирование</button>
                    </div>
                </div>
            </form>
            <form method="post" th:action="'/admin/delete_guest/' + ${guest.getIdGuest()}">
                <div class="data">
                    <button class="delete_btn" id="modal-btn" type="submit"><a class="edit_href">Удалить</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>


<!-- Rooms -->


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a class="footer_link" href="/apartment/onep_luxury">Люкс с одноместным размещением </a>
                <a class="footer_link" href="/apartment/luxury">Люкс с двуместным размещением </a>
                <a class="footer_link" href="/apartment/deluxe">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a class="footer_link" href="/entertainments/pool">Бассейн </a>
                <a class="footer_link" href="/entertainments/banquet_hall">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a class="footer_link" href="/entertainments/veranda">Веранда</a>
                <a class="footer_link" href="/entertainments/bar">Клубный бар</a>
                <a class="footer_link" href="/entertainments/restaurant">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->

</body>
</html>