<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="icon" type="image/png>" href="/static/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/guest_list.css">
</head>

<body>
<main>
    <!-- Intro -->
    <header class="intro ">
        <div class="header">
            <div class="container">
                <div class="header_inner">
                    <nav class="nav">
                        <a href="/sign_in" class="nav_link">Войти</a>
                        <a href="/sign_up" class="nav_link">Регистрация</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="intro_inner">
                <a href="/main" class="intro_link">Hotel TMI</a>
            </div>
        </div>
    </header>

    <!-- Features -->

    <div class="container">
        <div class="guests">

            <div class="data_flex" th:each="guest:${guests}">
                <form th:action=" '/edit/' + ${guest.getId}" method="post">
                    <div class="data"><input th:value="${guest.getLastName()}" type="text" name="Фамилия"></div>
                    <div class="data"><input th:value="${guest.getFirstName()}" type="text" name="Имя"></div>
                    <div class="data"><input th:value="${guest.getMiddleName()}" type="text" name="Отчество"></div>
                    <div class="data"><input th:value="${guest.getPhoneNumber()}" type="text" name="Номер телефона"></div>
                    <div class="data"><input th:value="${guest.getEmail()}" type="text" name="Почта"></div>
                    <div class="data"><input th:value="${guest.getAboutComment()}" type="text" name="Комментарий"></div>
                    <div class="data"><button type="submit">Изменить</button></div>
                </form>
            </div>

        </div>
    </div>
</main>


<!-- Rooms -->


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a href="/apartment/onep_luxury" class="footer_link">Люкс с одноместным размещением </a>
                <a href="/apartment/luxury" class="footer_link">Люкс с двуместным размещением </a>
                <a href="/apartment/deluxe" class="footer_link">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a href="/entertainments/pool" class="footer_link">Бассейн </a>
                <a href="/entertainments/banquet_hall" class="footer_link">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a href="/entertainments/veranda" class="footer_link">Веранда</a>
                <a href="/entertainments/bar" class="footer_link">Клубный бар</a>
                <a href="/entertainments/restaurant" class="footer_link">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->
<form action="" id="modal-win" class="modal" method="post" th:each="guest:${guests}">
    <div class="modal-window">
        <div class="form_title">Коментарий</div>
        <div class="close" id="modal-close">Х</div>
        <div><textarea class="form_input"></textarea></div>
        <div th:text="${guest.getAboutComment()}"></div>
        <div><input type="submit" class="search" value="Ввод"></div>
    </div>
    <div class="modal over"></div>
</form>


<script>
    let popupToggle = document.querySelectorAll('.search.form')
    popup = document.getElementById('modal-win')
    popupClose = document.getElementsByClassName('close')

    popupToggle.forEach(function (btn) {
        btn.onclick = function () {
            popup.style.display = 'flex';
        }
    })

    popupClose.onclick = function () {
        popup.style.display = 'none';
    }

    window.onclick = function (e) {
        if (e.target === popup) {
            popup.style.display = 'none';
        }
    }
</script>


</body>
</html>