<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hotel TMI</title>
    <link rel="icon" type="image/png>" href="/static/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:700|Raleway:300,400,600,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/all_lists.css">
</head>
<body>

<!-- Intro -->
<main>
    <header class="intro intro--back">
        <div class="header">
            <div class="container">
                <div class="header_inner">
                    <nav class="nav">
                        <a class="nav_link" href="/sign_in">Войти</a>
                        <a class="nav_link" href="/sign_up">Регистрация</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="intro_inner">
                <a class="intro_link" href="/main">Hotel TMI</a>
            </div>
        </div>
    </header>

<!-- Features -->
<div class="container">

    <div class="lists">
        <ul>
            <li class="list_item"><a class="list_link" href="/admin/guest_list">Список гостей</a></li>
            <li class="list_item"><a class="list_link" href="/admin/staff_list">Список сотрудников</a></li>
            <li class="list_item"><a class="list_link" href="/admin/booking_list">Список бронирования</a></li>
        </ul>
    </div>

</div>
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer_inner">

            <div class="footer_bock">
                <div class="footer_title">Размещение</div>
                <a href="/apartment/onep_luxury" class="footer_link">Люкс с одноместным размещением </a>
                <a href="/apartment/luxury" class="footer_link">Люкс с двуместным размещением </a>
                <a href="/apartment/deluxe" class="footer_link">Апартаменты делюкс </a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Предоставляемое пространство</div>
                <a href="/entertainments/pool" class="footer_link">Бассейн </a>
                <a href="/entertainments/banquet_hall" class="footer_link">Банкетный зал</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">Рестораны</div>
                <a href="/entertainments/veranda" class="footer_link">Веранда</a>
                <a href="/entertainments/bar" class="footer_link">Клубный бар</a>
                <a href="/entertainments/restaurant" class="footer_link">TMI Restaurant</a>
            </div>

            <div class="footer_block">
                <div class="footer_title">О гостинице</div>
                <address>
                    <div>Улица подводная, дом 83</div>
                    <div>+79017295584</div>
                </address>
            </div>

        </div>
    </div>
</footer><!-- /footer -->

</body>
</html>